$color: #007fff;
$nav_height:46px;

.body_container {
  width: 100%;
}

.nav_container {
  background-color: #fff;
}

.nav_content {
  display: flex;
  height: $nav_height;
}

.nav_item {
  padding: 0 14px;
  color: #909090;
  height: 100%;
  display: block;
  height: 100%;
  display: flex;
  font-size: 14px;
  align-items: center;
  text-decoration: none;
  justify-content: center;

  &.nav_item_active {
    color: $color;
  }

  &:hover {
    color: $color;
  }

  &:first-child {
    padding-left: 0;
  }
}