$height: 60px;
$color: #007fff;

.header_container {
  top: 0;
  height: $height;
  position: sticky;
  background-color: #fff;
}

.header_content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo_icon {
  display: block;
}

.logo_icon_img {
  width: 98px;
  height: 38px;
  display: block;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("./imgs/logo.svg");
}

.header_left {
  display: flex;
  align-items: center;
}

.menu_wrapper {
  position: relative;
  height: $height;
  margin-left: 10px;
}

.phone_show_menu {
  width: 100%;
  display: none;
  height: $height;
}

.arrow_down {
  width: 12px;
  height: 12px;
  display: flex;
  margin-left: 8px;
  align-items: center;
  justify-content: center;
  transition: .2s transform linear;

  &:before {
    content: '';
    width: 0;
    height: 0;
    display: block;
    border-top: 8px solid $color;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
  }
}

.menu_container {
  display: block;
}

.header_menu {
  display: flex;
  list-style: none;
}

.nav_link {
  width: 68px;
  height: $height;
  color: #71777c;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.nav_active {
  color: $color;
}

.header_right {
  height: $height;
  display: flex;
  align-items: center;
}

.header_form {
  display: flex;
  align-items: center;
}

.search_form {
  height: 32px;
  display: flex;
  overflow: hidden;
  padding-left: 12px;
  border-radius: 2px;
  align-items: center;
  justify-content: space-between;
  border: 1px solid hsla(0, 0%, 59.2%, .2);
  background-color: rgba(227, 231, 236, .2);

  input {
    margin: 0;
    padding: 0;
    color: #666;
    height: 100%;
    width: 140px;
    border: none;
    font-size: 14px;
    display: block;
    outline: none;
    background-color: transparent;

    &::-webkit-input-placeholder {
      color: #999;
    }
  }

  button[type = "submit"] {
    width: 32px;
    display: block;
    border: none;
    outline: none;
    height: 100%;
    padding: 0;
    cursor: pointer;
    background-color: transparent;
  }

  &.search_form_focus {
    border-color: $color;
  }
}

.header_form_right {
  display: flex;
  align-items: center;
  padding-left: 24px;
}

.form_item {
  color: $color;
  display: flex;
  font-size: 16px;
  cursor: pointer;
  align-items: center;
}

.account {
  display: flex;
  position: relative;
  padding-left: 28px;
  align-items: center;

  &:before {
    top: 0;
    left: 16px;
    height: 100%;
    content: '|';
    position: absolute;
    color: hsla(0, 0%, 59.2%, .4);
  }

  .form_item:first-child {
    &:after {
      content: "·";
      margin: 0px 4px;
    }
  }
}

@media screen and (max-width: 960px) {
  .menu_wrapper {
    width: $height;
    margin-left: 0;
    margin-right: 16px;
  }

  .phone_show_menu {
    display: flex;
    color: $color;
    font-size: 16px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
  }

  .menu_container {
    top: 0;
    left: 0;
    width: 70px;
    position: absolute;
  }

  .header_menu {
    display: none;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
    border: 1px solid rgba(177, 180, 185, .45);

    .nav_link {
      height: 48px;
    }
  }

  &.show_menu {
    & + .header_menu {
      display: block;
    }

    .arrow_down {
      transform: rotate(-180deg);
      transform-origin: center center;
    }
  }

  .header_form_right {
    & > .form_item {
      display: none;
    }

    .account {
      &:before {
        display: none;
      }
      padding-left: 0;
    }
  }
}

@media screen and (max-width: 568px) {
  .logo_icon_img {
    width: 45px;
    height: 38px;
    background-image: url("./imgs/logo_phone.svg");
  }
}

@media screen and (max-width: 520px) {
  .header_form {
    width: 222px;

    input[type="text"] {
      width: 100px;
    }

    button[type="submit"] {
      display: none;
    }
  }
}